{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row pt-lg-5">
            <div class="col-lg-6 mt-8">
                <div class="home-title">
                    <span class="">Organize it all with ToDoit</span>
                </div>
                <p>Free up your mental space, Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list (no matter where you are or what device you use)..</p>
                <div class="">
                    <a href="" class="butt butt-register text-capitalize m-2">
                        Get Started <i class="fa fa-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 mt-4 text-center">
                <img src="{% static 'img/home-img.svg' %}" width=100%>
            </div>
        </div>

    </div>
{% endblock content %}